.board {
  display: grid;
  /* grid-template-columns: repeat(4, 50px); */
  gap: 0;
  /* grid-template-rows: repeat(8, 1fr); */
  /* width: 400px;
  height: 400px; */
  /* border: 2px solid black; */
}

.board-row {
  display: contents;
}

.board-square {
  width: 50px; /* Adjust for board size */
  height: 50px;
  /* display: block; */
}