.board {
  display: grid;
  /* grid-template-columns: repeat(4, 50px); */
  gap: 0;
  /* grid-template-rows: repeat(8, 1fr); */
  /* width: 400px;
  height: 400px; */
  /* border: 2px solid black; */
}

.board-row {
  display: contents;
}

.board-square {
  width: 50px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.piece {
  width: 80%;
  height: 80%
}