.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.board {
  display: grid;
  /* grid-template-columns: repeat(20, 50px); */
  /* float: left; */
  gap: 0;
  /* grid-template-rows: repeat(8, 1fr); */
  /* width: 400px;
  height: 400px; */
  /* border: 2px solid black; */
  flex-shrink: 0;
}

.board-row {
  display: contents;
}

.board-square {
  /* width: 50px; 
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.right-sidebar {
  display: flex;
  /* float: right; */
  flex-direction: column;
  margin-left: 20px;
  flex-shrink: 0;
  gap: 12px;
  align-items: center;
}

.piece-tray {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tray-piece {
  width: 80%;
  height: 80%;
}

.piece {
  width: 80%;
  height: 80%;
  transition: transform 0.3s ease-in-out 0.1s;
  z-index: 1;
}

.treasure {
  width: 80%;
  height: 80%;
  z-index: 1;
}

.valid-move-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 255, 0, 0.3);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.valid-capture-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: rgba(247, 2, 14, 0.842);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
